/* Custom utilities */

body {
    box-sizing: border-box;
}

/* Fix for autofill styling in webkit browsers to match the light aesthetic */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #FDFBF7 inset !important;
    -webkit-text-fill-color: #594A42 !important;
    transition: background-color 5000s ease-in-out 0s;
}