/* Custom utilities that are hard to do with tailwind directly */

body {
    box-sizing: border-box;
}

/* Animations that are smoother or specific */
.img1 {
    width: 100px;
    height: auto;
    object-fit: cover;
}

.img {
    width: 30px;
    height: auto;
    object-fit: cover;
}

/* Fix for autofill styling in webkit browsers to match the dark aesthetic of the contact form */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #3b2b20 inset !important;
    -webkit-text-fill-color: #FAF9F6 !important;
    transition: background-color 5000s ease-in-out 0s;
}